h1{
    font-size:20px;
    color: blue;
    background: lightblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
 /*   background-image: url(https://tabicoffret.com/uploads/60a2315eaf1c1711268c0a50e59c3e7c.jpg)*/
}